/* import */
@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Gluten:wght@200&display=swap');
@import 'button.css';
@import 'background.css';

/* CSS*/

html,
body {
  color: white;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: 'Gluten', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 75px;
  font-family: 'Crafty Girls', cursive;
}

p {
  text-shadow: 1px 1px #2a839a;
}

.pink {
  color: #ff66c4 !important;
}

#text {
  margin-top: 5%;
}

.bg {
  /* The image used */
  background-image: url('../public/cha_background.png');

  /* Full height */
  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .bg {
    background-position: 10% 0%;
    background-attachment: scroll;
    height: 100%;
  }

  .button.small-screen {
    width: 30%;
  }
}
